<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/">Color Country Tournaments</a>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" placement="bottom" ngbPopover="#colorcountrytournaments"
                        popoverTitle="Venmo Us At...">
                        <i class="fa fa-money"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" placement="bottom" ngbPopover="colorcountrytournaments@gmail.com"
                        popoverTitle="Email Us At...">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" placement="bottom" ngbPopover="(435)453-3522"
                        popoverTitle="Call Us At...">
                        <i class="fa fa-phone"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>