<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/lesly-juarez-gNYQxI5ufII-unsplash.jpg');">
    <div class="filter"></div>
  </div>
  <div style="margin: 25px;">
    <div class="container">
      <div class="row">
        <h3>Tournaments<span> &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></span></h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Date</th>
              <th scope="col">Cost Per Team</th>
              <th scope="col">Registration Deadline</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Heat Stroker</td>
              <td>May 2020</td>
              <td>$500</td>
              <td>April 2020</td>
              <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Color Country Classic</td>
              <td>April 2020</td>
              <td>$500</td>
              <td>March 2020</td>
              <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Little Chuck Wagon Classic</td>
              <td>May 2020</td>
              <td>$500</td>
              <td>April 2020</td>
              <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td>Eighty-Niner</td>
              <td>May 2020</td>
              <td>$250</td>
              <td>April 2020</td>
              <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>
              <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

</div>