<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/neonbrand-2PMH43yG9eU-unsplash.jpg');">
        <div class="filter"></div>
    </div>
    <div style="margin: 25px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/img/eduardo-balderas-UVxd5b-_tw8-unsplash.jpg"
                            alt="Little League">
                        <div class="card-body">
                            <h5 class="card-title">Heat Stroker</h5>
                            <h6 class="card-title">May 2020</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Register</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/img/eduardo-balderas-UVxd5b-_tw8-unsplash.jpg"
                            alt="Little League">
                        <div class="card-body">
                            <h5 class="card-title">Color Country Classic</h5>
                            <h6 class="card-title">April 2020</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Register</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/img/eduardo-balderas-UVxd5b-_tw8-unsplash.jpg"
                            alt="Little League">
                        <div class="card-body">
                            <h5 class="card-title">Little Chuck Wagon</h5>
                            <h6 class="card-title">May 2020</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Register</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="./assets/img/eduardo-balderas-UVxd5b-_tw8-unsplash.jpg"
                            alt="Little League">
                        <div class="card-body">
                            <h5 class="card-title">Eighty-Niner</h5>
                            <h6 class="card-title">May 2020</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's content.</p>
                            <!-- <a href="#" class="btn btn-primary">Register</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>